version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rwabIEaTLtb8GKhz
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: npm start
    environment:
      DB_USERNAME: postgres
      DB_PASSWORD: rwabIEaTLtb8GKhz
      DB_NAME: postgres
      DB_HOST: db
      DATABASE_URL: postgresql://postgres:rwabIEaTLtb8GKhz@db:5432/postgres
      JWT_SECRET: 54767191267a159b04610fd00e0197f3e7bc2181716fc824cc6cf9d0ad0e41e2
      MIDTRANS_SERVER_KEY: SB-Mid-server-tFXFI3oezojYq-HlTIbZZVE7
      MIDTRANS_CLIENT_KEY: SB-Mid-client-llHOpHgXWSGfeFLR
      MIDTRANS_IS_PRODUCTION: 'false'
      USE_SEQUELIZE_DB: 'true'
    ports:
      - '3000:3000'
    depends_on:
      - db
    volumes:
      - .:/app
    working_dir: /app

volumes:
  db_data:
